*:{
    box-sizing: border-box;
}


body{
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto", "Arial", sans-serif;
    letter-spacing: 0.5px;
    padding: 0;
    margin: 0;
}

*:focus{
    outline: 2px dotted #FF7500;
    outline-offset: 3px;
}

.container{
    width: 100%;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}


.site-header {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: white;
   
    border-top: 5px solid #FF7500; 
    
} 

.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link{
    transition: opacity 0.4,ease;

}

.logo-link:hover{
    opacity: 0.8;
}

.logo-link:active{
    opacity: 0.6;
}

.site-header-actions{
    display: flex;
    align-items: center;
}

.sitenav-parent{
    display: flex;
    padding: 0;
    margin: 0;
    margin-right: 32px;
   
}

.sitenav-item{
    margin-right: 32px;
}

.sitenav-item:last-child{
    margin-right: 0;
}

.sitenav-link {
    color: #000;
    font-weight: 500;
font-size: 13px;
line-height: 15px;
letter-spacing: 1px;
text-transform: uppercase;
text-decoration: none;

transition: color 0.4s ease;

}

.sitenav-link:hover{
    color: #FF7500;
}

.sitenav-link:active{
    opacity: 0.6;
}

.main-link{
   padding: 12px 24px ;
font-size: 13px;
font-weight: bold;
color: white;
background-color: orangered;
text-decoration: none;
transition: opacity 0.4s ease;
border-radius: 4px;
}

.main-link:hover{
    opacity: 0.8;
}

.main-link:active{
    opacity: 0.6;
}

.hero{
background-color: #252420;
color: white;
padding-top: 80px;
padding-bottom: 80px;
}

.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content{
width: 390px;

}

.hero-img{
width: 510px;
height: 510px;
border-radius: 8px;
box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}

.orange-line{
    margin: 0;
    margin-bottom: 40px;
    width: 80px;
    height: 3px;
    left: 0;
    top: 0;
    background-color: orangered;
    border: none;
}

.feautures{
   padding-top: 210px;
   padding-bottom: 210px;

}

.feautures:last-child{
    margin-right: 0;
}

.hero-heading{
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 40;
    line-height: 1.2;
    font-family: "Roboto Condensed", "Arial", sans-serif ;
    
}

.hero-text{
    margin-top: 0;
    margin-bottom: 32px;

    
}

.feautures-heading{
    margin-top: 0;
    margin-bottom: 72px;
 
width: 440px;
height: 172px;
left: 170px;
top: 821px;
font-size: 72px;
line-height: 120%;
font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}

.feautures-list{
    display: flex;
    justify-content: space-between;
    padding: 0;

}

.feauture{
    width: 340px;
}



.feautures-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    background-color: rgba(255, 117, 0, 0.2);
    border-radius: 50%;

}

.feauture-title{
margin-top: 0;
margin-bottom: 12px;
font-size: 24px;
line-height: 120%;
font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}

.feauture-info{
    margin: 0;
    
}


.promo{
    padding-top: 120px;
    padding-bottom: 160px;
      
   
}

.promo-inner{
    padding: 64px;
    background-color: #252420;
    color:#ffff;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo-content{
    width: 440px;
}

.promo-heading{
     margin-top: 0 ;
     margin-bottom: 24px;
    font-size:  40px;
    line-height: 48px;
    font-family: "Roboto Condensed", "Roboto", "Arial", sans-serif;

}

.promo-info-wrapper{
   margin-bottom: 24px;
}
.promo-text{
    margin-top: 0;
    margin-bottom: 12px;
}

.promotext:last-child{
    margin-bottom: 0;
}

.promo-highlight{
    color: orangered ;
}

.promo-img{ 
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
}

.site-footer{
    padding-top: 56px;
    padding-bottom: 56px;
  background-color:  #F8F8F8;
}

.site-footer ul{
    padding: 0;
}

.site-footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-footer-iconlist{
    display: flex;
    align-items: center;
    padding:0;
    margin: 0;
    
    
}

.site-footer-iconlist svg{
    display: block;
}
.site-footer-iconlist li{
    margin-right: 16px;
}



.site-footer-iconlist a{
    color: #252420;
}
.site-footer-iconlist a:hover{
    color: #FF7500;
}

.site-footer-iconlist a:active{
    opacity: 0.6;
}

.site-footer-divider{
    width: 1100px;
    height: 2px;
    left: 170px;
    top: 2375px;
    background-color: rgba(37, 36, 32, 0.5);
    border: 0;
    margin-top: 40px;
    margin-bottom: 64px;
}

.site-footer-bottom{
    display: flex;
}

.site-footer-links{
    width: 224px;
    line-height: 19px;
    padding: 0;
    margin: 0;
    margin-right: 68px;
    
}

.site-footer-links:last-child{
    margin-right: 0;
}

.site-footer-links li{
    margin-bottom: 16px;
}

.site-footer-links li:last-child{
    margin-bottom: 0;
}
.site-footer-links a{
    color:  #252420;
    line-height: 19px;
}

.site-footer-links a:hover{
    color: #FF7500;
}

.site-footer-links a:active{
    opacity: 0.6;
}
ol,ul{
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;

}